* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.nav_menu { 
   
    background: white;
    margin-top: 26px;
    margin-bottom: 26px;
    padding-left: 330px;
    padding-right: 330px;
}

.menu_icon {    
    font-family: sans-serif;
    font-size: 27px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
    color: red;
    display: inline-block;
    margin-left: 72px;
    text-decoration: none;

}

.only_picture { 
    width: 100%;
    height: 789px;
}

.headline { 
    font-family: sans-serif;
    font-size: 22px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    margin-top: 48px;
    margin-bottom: 38px;
    text-align: center;

}

.text-1 {   
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 28px;
    padding-left: 67px;
    padding-right: 67px;
}

.text-2 {   
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    padding-left: 67px;
    padding-right: 67px;
}

.button_row { 
    text-align: center;  

}
.only_button {   
    font-weight: bold;
    margin-top: 66px;
    background-color: red;
    border: none;
    color: white;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;  
    width: 191px;
    height: 51px;
    border-radius: 4px; 
    
    
    
}

.footer_right {   
    text-align: right;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;  
    margin-top: 82px;
    margin-bottom: 29px;
    padding-left: 713px;
    padding-right: 105px;



